// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

$orange: #FBC64A;

.btn-primary {
  background-color: $orange;
  border-color: $orange;
  &:hover,
  &:focus,
  &:active {
    color: $white;
    background-color: darken($orange, 7.5) !important;
    border-color: darken($orange, 7.5) !important;
  }
}

.post-preview > a:hover {
    color: $orange;
}

a:hover, a:focus {
    color: $orange;
}